/node_modules
/public/hot
/public/build
/public/storage
/storage/*.key
/vendor
.env
npm-debug.log

# Build artifacts
/public/css
/public/js
/public/mix-manifest.json

# vagrant
/.vagrant

.phpunit.result.cache
