.award {
    position: relative;
    right: 1em;
    background-color: rgb(128, 9, 12);
    color: white;
    padding: 0.125em 0.25em;
    text-align: center;
    border-radius: 100%;
    font-size: 2em;
}
