/*
 * Front-end UI for registering for meals
 */
.meal {
    display: block;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
    padding: 1em;
    margin-bottom: 1em;
    border-color: #9E9;
    width: 44em;

    // Meals are clearfixed for their (floating) content
    &:after {
        content: "";
        display: table;
        clear: both;
    }

    .details {
        float: left;
        color: #666;
    }

    .attention {
        color: red;
    }

    h3,
    h4 {
        margin: 0;
    }

    h4 {
        margin-bottom: 0.5em;
        font-weight: normal;
        font-style: italic;
    }

    // Meals for which the deadline has passed are slight greyed out (buttons too)
    &.deadline_passed {
        background-color: #ddd;
        color: #666;

        button {
            background-color: #912127;
        }

        button.registered {
            background-color: #137c3f;
        }
    }

    // Block with pictures of all registered users
    .registrations {
        float: right;
        width: 7em;

        // Rounded images
        img {
            float: right;
            width: 1.5em;
            height: 1.5em;
            margin: 0 0 0.25em 0.25em;
            border-radius: 50%;
            object-fit: cover;
        }
    }

    /*
     * Customer behaviour for meal button lifecycle
     * generic button styling in ./form.css
     */
    button {
        display: block;
        float: left;
        width: 10em;
        height: 4.5em;
        padding: 0.25em;
        font-size: 1em;
        margin-right: 1em;

        // Orange: process working
        &.busy {
            background-color: #f9a41a;
            text-shadow: -1px 1px #ae7212;
        }

        // Green: sucesfully registered
        &.registered {
            background-color: #1bb058;
            box-shadow: 0 1px #5fc78a inset, 0 5px #127b3d, 0 3px 5px rgba(0, 0, 0, 0.3);
            text-shadow: -1px 1px #127b3d;
        }

        // Buttons that are not clickable
        &.unusable {
            box-shadow: none;
            position: relative;
            top: 5px;
        }
    }
}
