@media print {
    body {
        font-size: large;
    }
    header, nav, h2, form, .remove_registration, .non_print {
        display: none;
    }

    .registrations-table .box {
        display: inline-block;
    }

    #registrations {
        list-style-type: none;
        list-style-position: outside;
        padding: 0;
    }

    .subtitle {
        margin-top: -1em;
        font-style: italic;
    }

    section {
        position: static !important;
        margin: 0;
        padding: 0;
        left: 0;
        top: 0;
        padding: 0;
    }

    #print_instructions {
        display: block !important;
    }
}
