/*
 * Sensible default styling for forms
 */
input {
    font-size: 1.5em;
}

input[type=checkbox] {
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
}

.error_explanation {
    display: none;
    font-weight: bold;
    color: #ff0033;
}

.error_message {
background: none repeat scroll 0 0 #57a957;
    border: none;
    border-radius: 0.5em;
    color: white;
    cursor: pointer;
    padding: 1em;
    font-family: monospace;
    background: none repeat scroll 0 0 #c43c35;
    border-color: #c43c35;
    color: white;
}
