/*
 * Front-end UI for displaying meals
 */
.meal {
    display: inline-block;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
    padding: 1em;
    margin-bottom: 1em;
    border-color: #9E9;
    width: 35em;
}

.meal button {
    display: block;
    float: left;
    width: 10em;
    height: 4.5em;
    background-color: #80090c;

    border: 1px solid #aaa;
    text-transform: uppercase;
    color: white;
    padding: 0.25em;
    font-size: 1em;
    margin-right: 1em;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.meal .details {
    float: left;
    color: #666;
}

.meal .attention {
    color: red;
}

.meal h3 {
    margin-top: 0;
}

.meal button::-moz-focus-inner {
  border: 0;
}

.meal button:active {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    transition: 0.1s all;
    background-color: #ccc;
    color: black;
}

.meal button.registered, button.busy {
    color: white;
}
.meal button.registered {
    background-color: #0f9d58;
}
.meal button.busy {
    background-color: #f1c40f;
}

.empty {
    padding: 0.5em;
    margin: 1em 0;
    background-color: #cff;
    border: solid 1px #6cc;
}
