/*
 * Main navigation bar
 */
nav {
    background-color: #ddd;
}

nav svg {
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    fill: currentColor;
}

nav a {
    display: block;
    color: black;
    text-decoration: none;
    padding: 0.5em 1em;
}

nav a:hover, nav a.current:hover {
    background-color: #666;
    color: white;
}

nav a.current {
    background-color: #aaa;
}
