/*
 * Notification bars
 */
.notification {
    border: 2px solid black;
    padding: 1em;
    margin-bottom: 1em;
}

.notification ul {
    margin-bottom: 0;
}

.notification.success {
    background-color: #BFB;
    border-color: #9E9;
}

.notification.error {
    background-color: #FBB;
    border-color: #E99;
}

.notification.warning {
    background-color: #FFB;
    border-color: #EE9;
}

/*
 * Zero case message is shown when there are no rows
 */
.zero_case {
    border: 2px solid black;
    padding: 1em;
    margin-bottom: 1em;
    background-color: #FFB;
    border-color: #EE9;
}
