.profile {
    width: 20em;
    margin: 0 1em 1em 0;
    padding: 1em;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
    margin-bottom: 1em;
}

.profile h2 {
    margin: 0 0 0.5em 0;
    color: #666;
}

.profile h3 {
    text-align: center;
    font-size: 150%;
    margin: 0 0 0.5em 0;
}

.medal {
    font-size: xx-large;
    display: block;
    text-align: center;
    margin: 0 auto;
}

.profile .medal.gold {
    color: #ffd700;
}
.profile .medal.silver {
    color: #c0c0c0;
}

.profile .medal.gray {
    color: #666;
}

.profile .no_diet {
    font-weight: normal;
    font-size: 1em;
}

.profile img {
    display: block;
    margin: 0 auto;
    width: 128px;
    height: 128px;
    border-radius: 50%;
    object-fit: cover;
}
