body {
    background-color: #80090c;
    color: #090e0f;
}

section {
    text-align: center;
    margin: 1em auto;
    background-color: white;
    border-radius: 1em;
    width: 20em;
    padding: 1em;
    box-shadow: inset 0px -3px 1px rgba(0, 0, 0, 0.45), 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.logo {
    width: 66%;
    height: 66%;
    margin: 1em;
}

a.login {
    display: block;
    border: none;
    background-color: #5c7058;
    color: white;
    font-weight: bold;
    border-radius: 1em;
    text-align: center;
    padding: 1em;
    margin: 1em;
    text-decoration: none;
    box-shadow: inset 0px -3px 1px rgba(0, 0, 0, 0.45), 0px 2px 2px rgba(0, 0, 0, 0.25);
}
a.login:active {
    box-shadow: inset 0px -3px 1px rgba(255, 255, 255, 1), inset 0 0px 3px rgba(0, 0, 0, 0.9);
}

footer {
    margin: 0 auto;
    text-align: center;
    width: 20em;
    color: white;
}

abbr {
    cursor: pointer;
}
footer a {
    color: white;
}