body {
    background-color: #80090c;
}

section {
    text-align: center;
    margin: 1em auto;
    background-color: white;
    border-radius: 1em;
    width: 20em;
    padding: 1em;
}

.logo {
    width: 66%;
    height: 66%;
    margin: 1em;
}
