p, ul, ol {
    margin-top: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.25em;
}

section h1:first-child {
    margin-top: 0;
}

h1 {
    font-size: xx-large;
}

h2 {
    font-size: x-large;
}
