.user {
    margin-bottom: 2em;
}

.user img {
    width: 5em;
    height: 5em;
    border-radius: 50%;
    object-fit: cover;
    margin: 1em 2.5em 0 2.5em;
}

.user .name {
    text-align: center;
    margin: 0;
}
