
#print, .remove_registration {
    cursor: pointer;
}

#registrations .box {
    display: none;
}

#registrations {
    list-style-type: none;
    padding: 0;
}

#print_instructions {
    display: none;
}

table .attention {
    color: red;
    font-weight: bold;
}

.subtitle {
    margin-top: -1em;
    font-style: italic;
}
