/*
 * Front-end UI for registering for meals
 */
.meal {
    display: inline-block;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
    padding: 1em;
    margin-bottom: 1em;
    border-color: #9E9;
    width: 35em;
}

.meal .details {
    float: left;
    color: #666;
}

.meal .attention {
    color: red;
}

.meal h3 {
    margin-top: 0;
}

.meal.deadline_passed, .meal.deadline_passed .details, .meal.deadline_passed .attention {
    background-color: #ddd;
    color: #666;
}

/*
 * Customer behaviour for meal button lifecycle
 * generic button styling in ./form.css
 */
.meal button {
    display: block;
    float: left;
    width: 10em;
    height: 4.5em;
    text-transform: uppercase;
    padding: 0.25em;
    font-size: 1em;
    margin-right: 1em;
}

.meal button.busy {
    /* orange colouring */
    background-color: #f9a41a;
    text-shadow: -1px 1px #ae7212;
}

.meal button.registered {
    /* green colouring */
    background-color: #1bb058;
    box-shadow: 0 1px #5fc78a inset, 0 5px #127b3d, 0 3px 5px rgba(0, 0, 0, 0.3);
    text-shadow: -1px 1px #127b3d;
}

/* slightly grayed out buttons */
.meal.deadline_passed button {
    background-color: #912127;
}
.meal.deadline_passed button.registered {
    background-color: #137c3f;
}

.meal button.unusable {
    box-shadow: none;
    position: relative;
    top: 5px;
}
